{
	"plugins": [
		"@babel/plugin-syntax-dynamic-import",
		[
			"import",
			{
				"libraryName": "vant",
				"libraryDirectory": "es",
				"style": true
			}
		],
		["@babel/plugin-transform-runtime"]
	],
	"presets": [["@babel/preset-env"]]
}
